<h1>BTP Italia Tools</h1>

<p class="text-md-left fs-6">Qui e' possibile trovare varie funzioni utili a prendere confidenza con i BTP Italia</p>
<p class="text-md-left fs-6">I coefficienti di inflazione vengono calcolati utilizzando le <a href="http://dati.istat.it/Index.aspx?DataSetCode=DCSP_FOI1B2015">tabelle ISTAT</a> per ottenere i FOI</p>

<p class="fw-bold fs-6">Hai trovato un errore? Vuoi dare un suggerimento? Puoi farlo <a target="_blank" href="https://forum.finanzaonline.com/threads/sito-dedicato-a-btp-italia.2016830/">nella discussione sul Forum di Finanzaonline</a></p>

<p class="text-md-left text-danger fw-bold fs-3">Attualmente questo sito e' in versione preliminare ed i dati esposti potrebbero non essere corretti, solo quando questo messaggio verra' rimosso si potranno considerare attendibili</p>

