<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Lista FOI Ex Tabacchi</h1>
</div>

<div class="row g-3 align-items-center">
  <div class="col-auto">
    <select class="form-select" aria-label="Default select example" [(ngModel)]="currentYear">
      <option *ngFor="let y of years" [selected]="isCurrentYear(y)" [ngValue]="y">{{ y }}</option>
    </select>
  </div>
</div>

<div class="row g-3 align-items-center">
  <div class="col-auto">
    <div class="col-12">
      <button type="submit" class="btn btn-primary" (click)="export()">Esporta</button>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Valore</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let foi of foiList">
        <th scope="row">
          {{ foi.monthName }}
        </th>
        <td>{{ foi.value | number }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
