<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">BTP Italia Tools</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/foi/list']">
            Lista Foi
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/ci/calcolo']">
            Calcolo FOI
          </a>
        </li>

      </div>
    </nav>


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>

      <!--      <form>-->
      <!--        <div class="row g-3 align-items-center">-->
      <!--          <div class="col-auto">-->
      <!--            <label for="exampleInputEmail1" class="form-label">Email address</label>-->
      <!--            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
      <!--            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
      <!--          </div>-->
      <!--          <div class="mb-3">-->
      <!--            <label for="exampleInputPassword1" class="form-label">Password</label>-->
      <!--            <input type="password" class="form-control" id="exampleInputPassword1">-->
      <!--          </div>-->
      <!--          <div class="mb-3 form-check">-->
      <!--            <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
      <!--            <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
      <!--          </div>-->
      <!--          <button type="submit" class="btn btn-primary">Submit</button>-->
      <!--        </div>-->
      <!--      </form>-->

      <!--      <div class="row g-3 align-items-center">-->
      <!--        <div class="col-auto">-->
      <!--          <label for="inputPassword6" class="col-form-label">Password</label>-->
      <!--        </div>-->
      <!--        <div class="col-auto">-->
      <!--          <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">-->
      <!--        </div>-->
      <!--        <div class="col-auto">-->
      <!--    <span id="passwordHelpInline" class="form-text">-->
      <!--      Must be 8-20 characters long.-->
      <!--    </span>-->
      <!--        </div>-->
      <!--      </div>-->

    </main>
  </div>
</div>
